*{
    margin: 0;
    padding: 0;
}

nav{width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 0;
} 
.logo img {
    top: 5px;
    height:60px ;

}
 
    .cart{
        margin-top: 8px;
height: 50px; 
background-color: #e90f0f;}

.cart  a{
    float: right;
 }

.cartcontain{
    height: 600px;
    width: 300px;
    margin-top: 30px;
    background-color: #463cbb;
    overflow-y: scroll;
    display: none;
    color: #f90808;
}

.innercartbtn{

 margin-top: 20px;
}

.cartcontain{
    padding: 90px;
}
  

.buypage{
font-size: large;
bottom: 55%;
left: 30%;

}
/* Cart page */
/* .cart {
    width: 100%;
  } */
  .cartitem{
    margin-top: 90px;
   padding: 100px;
   width: 80%;
    color: rgb(119, 223, 16);
  }

  .cart_header{
    padding: 1.5rem;
    background-color: var(--colo-white-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
  }
  
  .cart_item{
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--colo-white-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
  }


  
  /* .cart_item {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--colo-white-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
  }
  .cart_product {
    display: flex;
    flex-direction: column;
  } */

  .cart_img {
    width: 7%;
  }
  .cart_total {
    margin-top: 2rem;
    text-align: right;
  }


.buypage h1{
    color: rgb(65, 9, 233);
}
 .inputs button{
background-color: #15ce30;
size: 200%;
font-size: xx-large;
font-weight: bold;
margin: 10px;
}
.inputs a{
    background-color: #bc1b1b;
    color: white;
}

/* .cartcontainer{
 display: grid;
 grid-template-columns: 3fr 1fr 3fr;
 background-color: #2ad81e;
}
  */
 

.searchBar{
    list-style-type: none;
    border-style: none;
    transform-style: none;
}
.hero{
    display: flex;
    justify-content:space-around;
    background-color: rgb(228, 219, 212);
}
.hero img{
    margin: 20px;
    padding: 0;
}
.mainText{
    padding-top: 180px;
}

.mainText button{
    width: 140px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-top: 22px;
}

.mainText button:hover{

    background-color: transparent;
}

.main{
    display: flex;
       justify-content: flex-start; 
       flex-direction: row;
}
.filter {
    display: block;
    margin: 6px;

}

#list{
   margin: 20px;
  font-style: oblique;

list-style-type: none;
 
}

/* .men{
    width: 300px;
    height: 250px;
} */

.men{
    width: 100%;
}

.head{
    margin-top: 94px;
}

 

.head h1{

display: flex;
justify-content: center;
    
}
.menCard{
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    height: 580px;

    display: flex;

}
.card{
    width: 300px;
    background-color: #fff;
    margin-inline: 22px;
    margin-top: 24px;
}


.womenCard{
    margin-top: 10%;
    margin-left: 10%;
    height: 610px;
    width: 60%;
    display: flex;
}
.slider{
    height: 60%;
    overflow: hidden;
  }

  
  .slider .figure{
  position: relative;
  width: 500%;
  
  left: 0;
  animation: 15s slider infinite;
  }
  .slider .figure img {
    float: left ;
   margin: 0;
   left: 0;
aspect-ratio: 9/4;
    width: 20%;
  }
  
  
  @keyframes slider {
    0%{left: 0;}
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{right: -400%;}
    100%{right: -500%;}
  } 
  

.head h1{
    margin: 30px;
}
  
 
.blogs{
    display:flex;
    height: 60%;
    width: 100%;
    margin: px;
}


  .footer{
    height: 200px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
    background-color:brown;
    text-decoration: white;
  }

  .product-detail{
    display: flex;
    margin: 20px;
  }
  
 .product-detail h1{
    margin: 30px;

 }
  .product-detail button{
 margin: 50px;
 background: transparent;
  }
  
  .buypage{
    position: absolute;
    
  }

  @media screen and (max-width:900px){
    .menCard{
        display: block;
        margin: 20;
        height: 1110px;
        margin-right: 10px;
    }

    
.hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  } 
  
    .womenCard{
       
        display: block;
        height: 1410px;
        margin-right: 10px;

    }
    .hero{
        display: block;
    }
    
    .slider-box {
    margin-top: 100px;
margin: 100px;    
    }
    .blogs{
        display: block;
        margin: 20;
        height: 1110px;
        margin-right: 10px;
    }
    
    .filter{
        display: none;
    }
    .product-detail{
        display: block;
        
        height: 40%;
        width: auto;
    }
   #inner{
   margin: 10px;
   padding: 6px;
  }
} 
 
  