@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");
:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #db4444;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
}

*{
    margin: 0;
    padding: 0;
}

nav{width: 100%;
    background-color: white;
    height: 60px;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 0;
} 

.humburgericon{
  display: none;
}
.logo img {
    top: 5px;
    height:60px ;

}
 
    .cart{
        margin-top: 8px;
height: 50px; 
width: 30px;
 }

.cart  a{
    float: right;
 }

 .auth_image{
  margin-left: 30px;
  height: 90%;
  margin-bottom: 10px;
 }

.cartcontain{
    height: 600px;
    width: 300px;
    margin-top: 30px;
    background-color: #463cbb;
    overflow-y: scroll;
    display: none;
    color: #f90808;
}

.innercartbtn{

 margin-top: 20px;
}

.cartcontain{
    padding: 90px;
}
  

.buypage{
font-size: large;
bottom: 55%;
left: 30%;

}
 
  .cartitem{
    margin-top: 90px;
   padding: 100px;
   width: 80%;
    color: rgb(119, 223, 16);
  }

  .cart_header{
    padding: 1.5rem;
    background-color: var(--colo-white-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
  }
  
  .cart_item{
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--colo-white-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
  }


  
  /* .cart_item {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--colo-white-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1px;
  }
  .cart_product {
    display: flex;
    flex-direction: column;
  } */

  .cart_img {
    width: 7%;
  }
  .cart_total {
    margin-top: 2rem;
    text-align: right;
  }


.buypage h1{
    color: rgb(65, 9, 233);
}
 .inputs button{
background-color: #15ce30;
size: 200%;
font-size: xx-large;
font-weight: bold;
margin: 10px;
}
.inputs a{
    background-color: #bc1b1b;
    color: white;
}

/* .cartcontainer{
 display: grid;
 grid-template-columns: 3fr 1fr 3fr;
 background-color: #2ad81e;
}
  */
 

.searchBar{
    list-style-type: none;
    border-style: none;
    transform-style: none;
}
.hero{
    display: flex;
    justify-content:space-around;
    background-color: rgb(228, 219, 212);
}
.hero img{
    margin: 20px;
    padding: 0;
}
.mainText{
    padding-top: 180px;
}

.mainText button{
    width: 140px;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-top: 22px;
}

.mainText button:hover{

    background-color: transparent;
}

.main{
    display: flex;
       justify-content: flex-start; 
       flex-direction: row;
}
.filter {
    display: block;
    margin: 6px;

}

#list{
   margin: 20px;
  font-style: oblique;

list-style-type: none;
 
}

/* .men{
    width: 300px;
    height: 250px;
} */

.men{
    width: 100%;
}

.head{
    margin-top: 94px;
}

 

.head h1{

display: flex;
justify-content: center;
    
}
.menCard{
    margin-top: 10%;
    margin-left: 10%;
    width: 60%;
    height: 580px;

    display: flex;

}
.card{
    width: 300px;
    background-color: #f5f5f5;
    margin-inline: 22px;
    margin-top: 24px;
}


.womenCard{
    margin-top: 10%;
    margin-left: 10%;
    height: 610px;
    width: 60%;
    display: flex;
}
.slider{
    height: 60%;
    overflow: hidden;
  }

  
  .slider .figure{
  position: relative;
  width: 500%;
  
  left: 0;
  animation: 15s slider infinite;
  }
  .slider .figure img {
    float: left ;
   margin: 0;
   left: 0;
aspect-ratio: 9/4;
    width: 20%;
  }
  
  
  @keyframes slider {
    0%{left: 0;}
    20%{left: -100%;}
    40%{left: -200%;}
    60%{left: -300%;}
    80%{right: -400%;}
    100%{right: -500%;}
  } 
  

.head h1{
    margin: 30px;
}
  
 
.blogs{
    display:flex;
    height: 60%;
    width: 100%;
    margin: px;
}


  .footer{
    height: 200px;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
    background-color:rgb(237, 16, 16);
    text-decoration: #f5f5f5;
  }

  .product-detail{
    display: flex;
    margin: 20px;
  }
  
 .product-detail h1{
    margin: 30px;

 }
  .product-detail button{
 margin: 50px;
 background: transparent;
  }
  
  .buypage{
    position: absolute;
    
  }

 
    
  .auth_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .auth_img {
    width: 50%;
    height: 100%;
  }
  .auth_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .auth_content {
    width: 50%;
  }
  .auth_content {
    padding: 10rem;
  }
  .form_title {
    font-size: 3.2rem;
  }
  .auth_p {
    margin: 2rem 0rem;
  }
  .form_group {
    width: 100%;
  }
  .form_input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 0.6rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--colo-dark-2);
  }
  .form_pass {
    margin-bottom: 1rem;
  }
  .form_btn {
    width: 100%;
    padding: 1.3rem;
    background-color: var(--colo-primary);
    color: var(--colo-white-1);
    border: none;
    outline: none;
    margin-bottom: 1.5rem;
  }
  .form_link {
    color: var(--colo-white-1);
  }
  .form_group > span {
    margin-top: 2rem;
  }
  

  @media only screen and (max-width: 1070px) {
   
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  }

  /* @media screen and (min-width: 992px){ */

   

    .menCard{
        display: flex ;
        flex-wrap: wrap;
        margin: 20;
        height: 1110px;
        margin-right: 10px;
    }

    /* .cart{
      display: none;
    } */

    /* .humburgericon{
      display: none;
    } */

/*     
    .hamburger{
display: none;
    }
     */
.hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  } 
  
    .womenCard{
       
        display: flex;
        flex-wrap: wrap;
        height: 1410px;
        margin-right: 30px;

    }
    .hero{
      width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
 


    .blogs{
        display: block;
        margin: 20;
        height: 1110px;
        margin-right: 10px;
    }
    
    .filter{
        display: none;
    }
    .product-detail{
        display: block;
        
        height: 40%;
        width: auto;
    }
   #inner{
   margin: 10px;
   padding: 6px;
  }
} 
 
@media screen and (max-width: 750px){
  .humburgericon{
    display: block;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  } 

  .signpage{
    display: none;
  }
   
  .extradiv{
   
    display: flex;
    height: 320px;
    font-style:italic;
font-size: larger;
list-style-type: none;
list-style: none;
    width: 200px;
    background-color: #f5f5f5;
    margin-top: 60px;
    justify-items: auto;
vertical-align: auto; 
   justify-content: space-evenly;
 
  }

  .extradiv ul{
    list-style-type: none;
background: transparent; 
row-gap: 20px; 

}
   .womenCard{
       
    display: flex ;
    flex-wrap: wrap;
    height: 1410px;
    margin-right: 30px;

}
.hero{
  width: 200%;
    display: block;
    
}
    #slider-box {
width: 100%;
height: 50%;
margin: 100px;  
padding: auto;  
    } 
    .slider{
      width: 100%;
      height: auto;
    }
    .slider{
   width: 200%;
    }
.blogs{
  display: block;
  margin: 20;
  height: 1110px;
  margin-right: 10px;
}

.filter{
  display: none;
}
.product-detail{
  display: block;
  
  height: 40%;
  width: auto;
}
#inner{
margin: 10px;
padding: 6px;
}

.footer{
  width: 200%;
  background-color: #cf4918;
}}
 
  